.Score{
    font-family: "Times New Roman";
    background-color: black;
    color: #4286f4;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 86px);
}